body{
    background-color: rgb(224, 224, 224);

}
main{
    margin: auto;
    width: 600px;
    height: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#date{
    margin: auto;
    justify-content: center;
    display: flex;
}

table{
    margin: auto;
}

header{
    margin: auto;
    width: auto;
}

.botão{
    justify-content: center;
    display: flex;
    margin: auto;
}
